body {
  transition: background-color 1s ease;
  padding: 0;
  margin: 0; 
  background: #fff;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  perspective: 1300px;
}

@media screen and (max-width: 767px) {
  .card {
    width: 80%; /* Adjust the width for smaller screens */
  }
  body {
    perspective: 1338px;
    perspective-origin: right;
  }
}

/* FALLING HEARTS ANIMATION */


.chocolate_rains {
  transform: rotateX(-15deg);
  position: absolute;
  transform-style: preserve-3d;
}

.chocolate_rains div{
  position: absolute;
  transform-style: preserve-3d;
}

.heart .ring {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  opacity: 0;
  border: 1px solid red;
}
.heart .left {
  left: -20px;
  width: 20px;
  height: 20px;
  background: #c80000;
  border-radius: 100%;
  transform-origin: 100% 0;
}
.heart .left::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 20px;
  height: 25px;
  background: #c80000;
  border-radius: 0 0 0 100%;
}
.heart .right {
  width: 20px;
  height: 20px;
  background: #c80000;
  border-radius: 100%;
  transform-origin: 0 0;
}
.heart .right::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 20px;
  height: 25px;
  background: #c80000;
  border-radius: 0 0 100% 0;
}
.heart .movable {
  opacity: 0;
}
.heart .reverse {
  transform: translateY(70px) rotateZ(180deg);
  opacity: 0.1;
}
.heart .reverse .left, .heart .reverse .right {
  opacity: 0.5;
}
.heart:nth-child(1) {
  transform: translateX(247px) translateZ(-343px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(1) .movable {
  -webkit-animation: drop 5000ms -2828ms linear infinite;
          animation: drop 5000ms -2828ms linear infinite;
}
.heart:nth-child(1) .ring {
  -webkit-animation: wave 5000ms 1072ms ease-out infinite;
          animation: wave 5000ms 1072ms ease-out infinite;
}
.heart:nth-child(1) .inner {
  -webkit-animation: rotation 3062ms linear infinite;
          animation: rotation 3062ms linear infinite;
}
.heart:nth-child(2) {
  transform: translateX(99px) translateZ(790px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(2) .movable {
  -webkit-animation: drop 5000ms -1381ms linear infinite;
          animation: drop 5000ms -1381ms linear infinite;
}
.heart:nth-child(2) .ring {
  -webkit-animation: wave 5000ms 2519ms ease-out infinite;
          animation: wave 5000ms 2519ms ease-out infinite;
}
.heart:nth-child(2) .inner {
  -webkit-animation: rotation 3556ms linear infinite;
          animation: rotation 3556ms linear infinite;
}
.heart:nth-child(3) {
  transform: translateX(193px) translateZ(578px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(3) .movable {
  -webkit-animation: drop 5000ms -634ms linear infinite;
          animation: drop 5000ms -634ms linear infinite;
}
.heart:nth-child(3) .ring {
  -webkit-animation: wave 5000ms 3266ms ease-out infinite;
          animation: wave 5000ms 3266ms ease-out infinite;
}
.heart:nth-child(3) .inner {
  -webkit-animation: rotation 3430ms linear infinite;
          animation: rotation 3430ms linear infinite;
}
.heart:nth-child(4) {
  transform: translateX(182px) translateZ(-344px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(4) .movable {
  -webkit-animation: drop 5000ms -608ms linear infinite;
          animation: drop 5000ms -608ms linear infinite;
}
.heart:nth-child(4) .ring {
  -webkit-animation: wave 5000ms 3292ms ease-out infinite;
          animation: wave 5000ms 3292ms ease-out infinite;
}
.heart:nth-child(4) .inner {
  -webkit-animation: rotation 3145ms linear infinite;
          animation: rotation 3145ms linear infinite;
}
.heart:nth-child(5) {
  transform: translateX(45px) translateZ(228px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(5) .movable {
  -webkit-animation: drop 5000ms 1056ms linear infinite;
          animation: drop 5000ms 1056ms linear infinite;
}
.heart:nth-child(5) .ring {
  -webkit-animation: wave 5000ms 4956ms ease-out infinite;
          animation: wave 5000ms 4956ms ease-out infinite;
}
.heart:nth-child(5) .inner {
  -webkit-animation: rotation 4465ms linear infinite;
          animation: rotation 4465ms linear infinite;
}
.heart:nth-child(6) {
  transform: translateX(46px) translateZ(-755px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(6) .movable {
  -webkit-animation: drop 5000ms 1032ms linear infinite;
          animation: drop 5000ms 1032ms linear infinite;
}
.heart:nth-child(6) .ring {
  -webkit-animation: wave 5000ms 4932ms ease-out infinite;
          animation: wave 5000ms 4932ms ease-out infinite;
}
.heart:nth-child(6) .inner {
  -webkit-animation: rotation 4794ms linear infinite;
          animation: rotation 4794ms linear infinite;
}
.heart:nth-child(7) {
  transform: translateX(-270px) translateZ(329px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(7) .movable {
  -webkit-animation: drop 5000ms 1938ms linear infinite;
          animation: drop 5000ms 1938ms linear infinite;
}
.heart:nth-child(7) .ring {
  -webkit-animation: wave 5000ms 5838ms ease-out infinite;
          animation: wave 5000ms 5838ms ease-out infinite;
}
.heart:nth-child(7) .inner {
  -webkit-animation: rotation 3585ms linear infinite;
          animation: rotation 3585ms linear infinite;
}
.heart:nth-child(8) {
  transform: translateX(-233px) translateZ(757px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(8) .movable {
  -webkit-animation: drop 5000ms 1380ms linear infinite;
          animation: drop 5000ms 1380ms linear infinite;
}
.heart:nth-child(8) .ring {
  -webkit-animation: wave 5000ms 5280ms ease-out infinite;
          animation: wave 5000ms 5280ms ease-out infinite;
}
.heart:nth-child(8) .inner {
  -webkit-animation: rotation 2695ms linear infinite;
          animation: rotation 2695ms linear infinite;
}
.heart:nth-child(9) {
  transform: translateX(-4px) translateZ(-427px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(9) .movable {
  -webkit-animation: drop 5000ms -445ms linear infinite;
          animation: drop 5000ms -445ms linear infinite;
}
.heart:nth-child(9) .ring {
  -webkit-animation: wave 5000ms 3455ms ease-out infinite;
          animation: wave 5000ms 3455ms ease-out infinite;
}
.heart:nth-child(9) .inner {
  -webkit-animation: rotation 4405ms linear infinite;
          animation: rotation 4405ms linear infinite;
}
.heart:nth-child(10) {
  transform: translateX(91px) translateZ(187px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(10) .movable {
  -webkit-animation: drop 5000ms -275ms linear infinite;
          animation: drop 5000ms -275ms linear infinite;
}
.heart:nth-child(10) .ring {
  -webkit-animation: wave 5000ms 3625ms ease-out infinite;
          animation: wave 5000ms 3625ms ease-out infinite;
}
.heart:nth-child(10) .inner {
  -webkit-animation: rotation 2141ms linear infinite;
          animation: rotation 2141ms linear infinite;
}
.heart:nth-child(11) {
  transform: translateX(396px) translateZ(457px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(11) .movable {
  -webkit-animation: drop 5000ms -1791ms linear infinite;
          animation: drop 5000ms -1791ms linear infinite;
}
.heart:nth-child(11) .ring {
  -webkit-animation: wave 5000ms 2109ms ease-out infinite;
          animation: wave 5000ms 2109ms ease-out infinite;
}
.heart:nth-child(11) .inner {
  -webkit-animation: rotation 2844ms linear infinite;
          animation: rotation 2844ms linear infinite;
}
.heart:nth-child(12) {
  transform: translateX(-86px) translateZ(-483px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(12) .movable {
  -webkit-animation: drop 5000ms -1631ms linear infinite;
          animation: drop 5000ms -1631ms linear infinite;
}
.heart:nth-child(12) .ring {
  -webkit-animation: wave 5000ms 2269ms ease-out infinite;
          animation: wave 5000ms 2269ms ease-out infinite;
}
.heart:nth-child(12) .inner {
  -webkit-animation: rotation 3440ms linear infinite;
          animation: rotation 3440ms linear infinite;
}
.heart:nth-child(13) {
  transform: translateX(278px) translateZ(-360px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(13) .movable {
  -webkit-animation: drop 5000ms 608ms linear infinite;
          animation: drop 5000ms 608ms linear infinite;
}
.heart:nth-child(13) .ring {
  -webkit-animation: wave 5000ms 4508ms ease-out infinite;
          animation: wave 5000ms 4508ms ease-out infinite;
}
.heart:nth-child(13) .inner {
  -webkit-animation: rotation 4978ms linear infinite;
          animation: rotation 4978ms linear infinite;
}
.heart:nth-child(14) {
  transform: translateX(356px) translateZ(-46px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(14) .movable {
  -webkit-animation: drop 5000ms 672ms linear infinite;
          animation: drop 5000ms 672ms linear infinite;
}
.heart:nth-child(14) .ring {
  -webkit-animation: wave 5000ms 4572ms ease-out infinite;
          animation: wave 5000ms 4572ms ease-out infinite;
}
.heart:nth-child(14) .inner {
  -webkit-animation: rotation 2851ms linear infinite;
          animation: rotation 2851ms linear infinite;
}
.heart:nth-child(15) {
  transform: translateX(-127px) translateZ(-477px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(15) .movable {
  -webkit-animation: drop 5000ms -516ms linear infinite;
          animation: drop 5000ms -516ms linear infinite;
}
.heart:nth-child(15) .ring {
  -webkit-animation: wave 5000ms 3384ms ease-out infinite;
          animation: wave 5000ms 3384ms ease-out infinite;
}
.heart:nth-child(15) .inner {
  -webkit-animation: rotation 3587ms linear infinite;
          animation: rotation 3587ms linear infinite;
}
.heart:nth-child(16) {
  transform: translateX(-439px) translateZ(-86px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(16) .movable {
  -webkit-animation: drop 5000ms 1211ms linear infinite;
          animation: drop 5000ms 1211ms linear infinite;
}
.heart:nth-child(16) .ring {
  -webkit-animation: wave 5000ms 5111ms ease-out infinite;
          animation: wave 5000ms 5111ms ease-out infinite;
}
.heart:nth-child(16) .inner {
  -webkit-animation: rotation 3344ms linear infinite;
          animation: rotation 3344ms linear infinite;
}
.heart:nth-child(17) {
  transform: translateX(-93px) translateZ(-719px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(17) .movable {
  -webkit-animation: drop 5000ms -2730ms linear infinite;
          animation: drop 5000ms -2730ms linear infinite;
}
.heart:nth-child(17) .ring {
  -webkit-animation: wave 5000ms 1170ms ease-out infinite;
          animation: wave 5000ms 1170ms ease-out infinite;
}
.heart:nth-child(17) .inner {
  -webkit-animation: rotation 3006ms linear infinite;
          animation: rotation 3006ms linear infinite;
}
.heart:nth-child(18) {
  transform: translateX(-430px) translateZ(-42px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(18) .movable {
  -webkit-animation: drop 5000ms 178ms linear infinite;
          animation: drop 5000ms 178ms linear infinite;
}
.heart:nth-child(18) .ring {
  -webkit-animation: wave 5000ms 4078ms ease-out infinite;
          animation: wave 5000ms 4078ms ease-out infinite;
}
.heart:nth-child(18) .inner {
  -webkit-animation: rotation 2625ms linear infinite;
          animation: rotation 2625ms linear infinite;
}
.heart:nth-child(19) {
  transform: translateX(376px) translateZ(182px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(19) .movable {
  -webkit-animation: drop 5000ms -1653ms linear infinite;
          animation: drop 5000ms -1653ms linear infinite;
}
.heart:nth-child(19) .ring {
  -webkit-animation: wave 5000ms 2247ms ease-out infinite;
          animation: wave 5000ms 2247ms ease-out infinite;
}
.heart:nth-child(19) .inner {
  -webkit-animation: rotation 2570ms linear infinite;
          animation: rotation 2570ms linear infinite;
}
.heart:nth-child(20) {
  transform: translateX(-356px) translateZ(199px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(20) .movable {
  -webkit-animation: drop 5000ms 212ms linear infinite;
          animation: drop 5000ms 212ms linear infinite;
}
.heart:nth-child(20) .ring {
  -webkit-animation: wave 5000ms 4112ms ease-out infinite;
          animation: wave 5000ms 4112ms ease-out infinite;
}
.heart:nth-child(20) .inner {
  -webkit-animation: rotation 2283ms linear infinite;
          animation: rotation 2283ms linear infinite;
}
.heart:nth-child(21) {
  transform: translateX(344px) translateZ(-608px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(21) .movable {
  -webkit-animation: drop 5000ms 405ms linear infinite;
          animation: drop 5000ms 405ms linear infinite;
}
.heart:nth-child(21) .ring {
  -webkit-animation: wave 5000ms 4305ms ease-out infinite;
          animation: wave 5000ms 4305ms ease-out infinite;
}
.heart:nth-child(21) .inner {
  -webkit-animation: rotation 4391ms linear infinite;
          animation: rotation 4391ms linear infinite;
}
.heart:nth-child(22) {
  transform: translateX(17px) translateZ(-333px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(22) .movable {
  -webkit-animation: drop 5000ms -4ms linear infinite;
          animation: drop 5000ms -4ms linear infinite;
}
.heart:nth-child(22) .ring {
  -webkit-animation: wave 5000ms 3896ms ease-out infinite;
          animation: wave 5000ms 3896ms ease-out infinite;
}
.heart:nth-child(22) .inner {
  -webkit-animation: rotation 3673ms linear infinite;
          animation: rotation 3673ms linear infinite;
}
.heart:nth-child(23) {
  transform: translateX(433px) translateZ(-148px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(23) .movable {
  -webkit-animation: drop 5000ms -1671ms linear infinite;
          animation: drop 5000ms -1671ms linear infinite;
}
.heart:nth-child(23) .ring {
  -webkit-animation: wave 5000ms 2229ms ease-out infinite;
          animation: wave 5000ms 2229ms ease-out infinite;
}
.heart:nth-child(23) .inner {
  -webkit-animation: rotation 2876ms linear infinite;
          animation: rotation 2876ms linear infinite;
}
.heart:nth-child(24) {
  transform: translateX(239px) translateZ(-566px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(24) .movable {
  -webkit-animation: drop 5000ms -568ms linear infinite;
          animation: drop 5000ms -568ms linear infinite;
}
.heart:nth-child(24) .ring {
  -webkit-animation: wave 5000ms 3332ms ease-out infinite;
          animation: wave 5000ms 3332ms ease-out infinite;
}
.heart:nth-child(24) .inner {
  -webkit-animation: rotation 3942ms linear infinite;
          animation: rotation 3942ms linear infinite;
}
.heart:nth-child(25) {
  transform: translateX(69px) translateZ(-476px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(25) .movable {
  -webkit-animation: drop 5000ms -2342ms linear infinite;
          animation: drop 5000ms -2342ms linear infinite;
}
.heart:nth-child(25) .ring {
  -webkit-animation: wave 5000ms 1558ms ease-out infinite;
          animation: wave 5000ms 1558ms ease-out infinite;
}
.heart:nth-child(25) .inner {
  -webkit-animation: rotation 3722ms linear infinite;
          animation: rotation 3722ms linear infinite;
}
.heart:nth-child(26) {
  transform: translateX(256px) translateZ(-201px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(26) .movable {
  -webkit-animation: drop 5000ms -1128ms linear infinite;
          animation: drop 5000ms -1128ms linear infinite;
}
.heart:nth-child(26) .ring {
  -webkit-animation: wave 5000ms 2772ms ease-out infinite;
          animation: wave 5000ms 2772ms ease-out infinite;
}
.heart:nth-child(26) .inner {
  -webkit-animation: rotation 2551ms linear infinite;
          animation: rotation 2551ms linear infinite;
}
.heart:nth-child(27) {
  transform: translateX(-356px) translateZ(711px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(27) .movable {
  -webkit-animation: drop 5000ms -483ms linear infinite;
          animation: drop 5000ms -483ms linear infinite;
}
.heart:nth-child(27) .ring {
  -webkit-animation: wave 5000ms 3417ms ease-out infinite;
          animation: wave 5000ms 3417ms ease-out infinite;
}
.heart:nth-child(27) .inner {
  -webkit-animation: rotation 3050ms linear infinite;
          animation: rotation 3050ms linear infinite;
}
.heart:nth-child(28) {
  transform: translateX(122px) translateZ(291px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(28) .movable {
  -webkit-animation: drop 5000ms 1093ms linear infinite;
          animation: drop 5000ms 1093ms linear infinite;
}
.heart:nth-child(28) .ring {
  -webkit-animation: wave 5000ms 4993ms ease-out infinite;
          animation: wave 5000ms 4993ms ease-out infinite;
}
.heart:nth-child(28) .inner {
  -webkit-animation: rotation 2342ms linear infinite;
          animation: rotation 2342ms linear infinite;
}
.heart:nth-child(29) {
  transform: translateX(-268px) translateZ(483px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(29) .movable {
  -webkit-animation: drop 5000ms -1645ms linear infinite;
          animation: drop 5000ms -1645ms linear infinite;
}
.heart:nth-child(29) .ring {
  -webkit-animation: wave 5000ms 2255ms ease-out infinite;
          animation: wave 5000ms 2255ms ease-out infinite;
}
.heart:nth-child(29) .inner {
  -webkit-animation: rotation 3849ms linear infinite;
          animation: rotation 3849ms linear infinite;
}
.heart:nth-child(30) {
  transform: translateX(113px) translateZ(-599px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(30) .movable {
  -webkit-animation: drop 5000ms -1841ms linear infinite;
          animation: drop 5000ms -1841ms linear infinite;
}
.heart:nth-child(30) .ring {
  -webkit-animation: wave 5000ms 2059ms ease-out infinite;
          animation: wave 5000ms 2059ms ease-out infinite;
}
.heart:nth-child(30) .inner {
  -webkit-animation: rotation 4925ms linear infinite;
          animation: rotation 4925ms linear infinite;
}
@-webkit-keyframes blur {
  0% {
    filter: blur(20px) grayscale(150%);
  }
  100% {
    filter: blur(10px) grayscale(50%);
  }
}
@keyframes blur {
  0% {
    filter: blur(20px) grayscale(150%);
  }
  100% {
    filter: blur(10px) grayscale(50%);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes drop {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 3;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 3;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
    opacity: 2;
  }
  100% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
    opacity: 0;
  }
}
@keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
    opacity: 2;
  }
  100% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
    opacity: 0;
  }
}
@-webkit-keyframes wing {
  0% {
    transform: rotateY(70deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes wing {
  0% {
    transform: rotateY(70deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* FALLING HEARTS ANIMATION END */


/* CARD */

.card,
.envelope {
  background: #fff;
  box-shadow: -1px 8px 3px 0 rgba(0, 0, 0, 0.6);
  height: 21em;
  padding: 2em;
  position: relative;
  width: 15em;
}

.envelope {
  background: #cb231c;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
  margin: -2em -2em;
  position: absolute;
  transform: rotate(-8deg);
  z-index: -1;
}


h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  width: 90%;
}

em {
  color: #cc2119;
  font-style: normal;
}

.myheart {
  bottom: 4em;
  position: absolute;
  right: 4em;
}

.myheart::before,
.myheart::after {
  background-color: #cd231b;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 25px;
  left: 15px;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 15px;
}

.myheart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}



/*CARD END */